apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Chart.Name }}-deployment"
  namespace: {{ .Values.global.namespace }}
  labels:
    app: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      initContainers:
        - name: "{{ .Chart.Name }}-init"
          image: {{ .Values.deployment.repository }}
          command:
            - sh
            - -c
            - |
              echo "Waiting for MongoDB...";
              until mongo --host "{{ .Chart.Name }}-service" --eval "db.runCommand({ ping: 1 })" >/dev/null 2>&1;
              do sleep 2; done;
              echo "Mongo is ready. Running init scripts...";
              for f in /init/*.js; do
                echo "Executing $f";
                mongo --host "{{ .Chart.Name }}-service" YourDatabase "$f";
              done
          volumeMounts:
            - name: init-scripts
              mountPath: /init
      containers:
        - name: "{{ .Chart.Name }}-container"
          image: {{ .Values.deployment.repository }}
          ports:
            - containerPort: {{ .Values.deployment.containerPort }}
          volumeMounts:
            - name: init-scripts
              mountPath: /docker-entrypoint-initdb.d
      volumes:
        - name: init-scripts
          configMap:
            name: "{{ .Chart.Name }}-init-scripts"
